.root,
.root *,
.root *::before,
.root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
    user-select: none;
}

.root ul{
    text-align: left;
    padding-inline-start: 0;

    display: flex;
    flex-direction: var(--flex-direction);
}
.root strong{
    display: block;
}

.root{
    --primary-color: #00a3e0;
    --bg-color: #fff;
    --text-color: #333333;
    --group-text-color: #3a3a3a;
    --bg-active-color: #e6f7ff;
    --bg-hover-color: #f5f5f5;
    --border-color: #f0f0f0;
    --search-filter-border: #eeeeee;

    --flex-direction: column;
}

.root.dark-theme {
    --bg-color: #38393a;
    --text-color: rgba(255, 255, 255, 0.65);
    --group-text-color: #999;
    --bg-active-color: #727373;
    --bg-hover-color: #5e5e5e;
    --border-color: rgba(255, 255, 255, 0.25);
    --search-filter-border: rgb(85, 85, 87);
}


.root.reverse {
    --flex-direction: column-reverse;

    .text-field{
        border-bottom: none;
        border-top: 1px solid var(--search-filter-border);
    }
}

.root {
    width: auto;
    min-width: 150px;
    min-height: 30px;
    max-height: 450px;
    height: auto;

    z-index: 10;


    display: flex;
    flex-direction: var(--flex-direction);
    border-radius: 3px;
    background-color: var(--bg-color);
    margin: 0;
    box-shadow: 2px 1px 9px 1px #00000040;
}


/* ========= reset start ============*/
.root button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: none;
    border: none;
    overflow: visible;
    text-transform: none;
}
.root button:focus {
    outline: none;
}

.root button,
.root [type="button"]{
    -webkit-appearance: button;
}
.root button:not(:disabled),
.root [type="button"]:not(:disabled){
    cursor: pointer;
}
.root button::-moz-focus-inner,
.root [type="button"]::-moz-focus-inner{
    padding: 0;
    border-style: none;
}
.root svg {overflow: hidden;vertical-align: middle;}
/* ========= reset end ============*/



.list{
    border: 1px #6c757d;
    border-radius: 4px;
    font-size: 14px;
    padding: 2px;
    margin: 0;
    overflow-y: scroll;
    width: 100%;
    height: auto;
    flex: 1;
    max-height: 100%;
}

.list-item{
    padding: 0 5px;
    cursor: pointer;
    color: var(--text-color);
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    white-space:nowrap;
    overflow: hidden;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    width: 100%;
    border-radius: 3px;
    position: relative;
}
.list-item-active{
    box-sizing: border-box;
}

.list-item[aria-selected="true"],
.list-item[aria-selected="true"] .list-item-checked svg,
.list-item[aria-selected="true"] .list-item-text.list-item-text-placeholder{
/*.list-item:hover,*/
/*.list-item:hover .list-item-checked svg,*/
/*.list-item:hover .list-item-text.list-item-text-placeholder{*/
    background-color: var(--primary-color);
    color: #fff;
    opacity: .8;
}



.list-item-avatar {
    display: flex;

    width: 22px;
    height: 22px;
    border-radius: 100%;
    overflow: hidden;
    flex: 0 0 auto;
    border: 2px solid #343a40;
    background: rgb(70, 70, 70) center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: 0 2.5px;

}

.list-item-text {
    /* ellipsis */
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;


    padding: 5px 2.5px;
    flex: 1;
}
.list-item-text.list-item-text-no-data {
    /*text-align: center;*/
}

.list-item-text.list-item-text-placeholder{
    color: #757575;
}

.list-item-checked {
    width: 15px;
    flex: 0 0 15px;
}
.list-item-checked svg{
    color: var(--text-color);
    fill: currentColor;
}




.text-field{
    background-color: var(--bg-color);

    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: var(--text-color);
    padding: 4px 12px;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid var(--search-filter-border);
}
.text-field-hidden{
    /*visibility: hidden;*/
    overflow: hidden;
    height: 0;
    padding: 0;
}

.text-field:focus {
    outline: 0;
}

.list-group-name{
    padding: 5px;
    color: var(--group-text-color);
}
.list-group-children{

}
